<div class="sidebarPost">
  <div class="container sidebarPost-sticky">
    <ul class="sidebarPost-nav">
      <li class="sidebarPost-nav-item">
        <a href="/">Volver</a>
      </li>
    </ul>

    <p>&copy; {{date format='YYYY'}}.</p>
    <p>Claro que si.</p>
  </div>
</div>
